#linkMuvitur span {
  position: absolute;
  bottom: 150px;
  right: 0;
  z-index: 50;
  display: block;
  width: 210px;
  margin: 0;
  padding: 0;
  color: white;
  font-size: 20px;
  text-shadow: 1px 1px 25px #384999;
  text-decoration: none;
  text-align: center;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  opacity: 0;
}
#linkMuvitur figure {
  width: 210px;
  height: 105px;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
#linkMuvitur figure:hover+span {
  bottom: 30%;
  opacity: 1;
}
#linkMuvitur figure:hover{
  background: rgba(0,0,0,0.2);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

#linkMuvitur figure img {
  opacity: 1;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}
#linkMuvitur figure:hover img {
  opacity: 1;
}

#container_logo{
  position: absolute;
  /* bottom: 5px; */
  /*left: 4px;
  top: 120px;*/
  bottom: 2%;
  right: 0; 
  /*z-index: 50;*/
  
  /*width: auto;
  height: 15%;*/
  max-height: 20%;
  opacity: 0.8;
}

#imageMuvitur {
  display: block;
  float: right;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  /*top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;*/
  bottom: 5px;
  right: 5px; 
  max-width: 25%;
  max-height: 20%;  
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.logo_container:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.goToMuvitur {
  background-color:#911612;
  -moz-border-radius:7px;
  -webkit-border-radius:7px;
  border-radius:7px;
  border:1px solid #942911;
  display:inline-block;
  cursor:pointer;
  color:#dbbd92;
  font-family:Arial;
  font-size:13px;
  font-weight:bold;
  padding:6px 15px;
  text-decoration:none;
  text-shadow:0px 1px 0px #854629;
    float: right;
    right: 20px;
    top: 4px;  
    position: absolute;
}
.goToMuvitur:hover {
  background-color:#911612;
    float: right;
    right: 20px;
    top: 4px;  
    position: absolute;
}
.goToMuvitur:active {
  position:relative;
  top:1px;
    float: right;
    right: 20px;
    top: 4px;  
    position: absolute;
}

